@import "./Variables";

.screen {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  background-color: none;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 20px 0 20px;
  border-radius: 20px 20px 0 0;
  font-size: 2.5rem;
  background: $displayColor;
  color: $calculatorColor;
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}

.bottomCurve {
  background: $displayColor;
  height: 20px;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  -moz-border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  -webkit-border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
}
