@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.App {
  font-family: "Roboto";
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(140deg, #acdcff, #e4a5ff);
}
